<%= hidden_field_tag :location_id, @location.id %>

<p>
	<%= f.label :intervention_id %><br />
  <%= f.select :intervention_id, Intervention.find(:all).collect {|i| [ i.name, i.id ] } %>
</p>
<p>
	<%= f.label :comments %><br />
  <%= f.text_area :comments, :rows => 3 %>
</p>
<p>
	<%= f.label :collection_method %><br />
  <%= f.select :collection_method, Request::COLLECTION_METHODS.collect { |m| [m, m] } %>
</p>
<p>
	<%= f.label :status %><br />
  <%= f.select :status, Request::STATUSES.collect { |s| [s, s] } %>
</p>