<h1>Listing requests</h1>

<table>
  <tr>
    <th><%= sort_link 'Location', :location_id %></th>
    <th><%= sort_link 'Intervention', :intervention_id %></th>
    <th>Comments</th>
    <th><%= sort_link 'Collection Method', :collection_method %></th>
    <th><%= sort_link 'Status', :status %></th>
    <th><%= sort_link 'Created By', :created_by %></th>
  </tr>

<% for request in @requests %>
  <tr>
    <td><%= link_to request.location.name, request.location %></td>
    <td><%=h request.intervention.name %></td>
    <td><%=h request.comments %></td>
    <td><%=h request.collection_method %></td>
    <td class="<%= request.status.downcase %>"><%=h request.status %></td>
    <td><%=h request.created_by.login %> (<%=h request.created_by.cell %>)</td>
    <td><%= link_to 'Show', request %></td>
    <td><%= link_to 'Edit', edit_request_path(request) %></td>
  </tr>
<% end %>
</table>
