<h1><%=h @request.intervention.name %> request for <%=h @request.location.name %></h1>
(<%= link_to 'Edit', edit_request_path(@request) %>)

<p>
  <b>Comments:</b>
  <%= simple_format(sanitize(@request.comments)) %>
</p>

<p>
  <b>Collection method:</b>
  <%=h @request.collection_method %>
</p>

<p>
  <b>Status:</b>
  <%=h @request.status %>
</p>

<%= render :partial => "widgets/audit", :locals => { :obj => @request } %>

<%= link_to 'Back', location_path(@request.location) %>
