<h1>Editing location_type</h1>

<% form_for :location_type, :url => admin_location_type_path(@location_type) do |f| %>
  <%= f.error_messages %>

  <p>
		<%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', admin_location_type_path(@location_type) %> |
<%= link_to 'Back', admin_location_types_path %>