<h1>Editing supply for <%=h @depot.name %></h1>

<% form_for(@supply) do |f| %>
  <%= f.error_messages %>

	<%= render :partial => "form", :locals => { :f => f } %>

  <p>
	<%= hidden_field_tag('redirect_to', params[:redirect_to]) if params[:redirect_to] %>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', params[:redirect_to] || @supply %>