<p>
  <%= f.text_field :assessor_name, :value => current_user.login %> Name of person conducting the assessment
</p>
<p>
	<%= f.label :quantity %><br />
  <%= f.text_field :quantity, :size => 4, :maxlength => 4  %> people in total
</p>
<p>
	<%= f.label :men %><br />
  <%= f.text_field :men, :size => 4, :maxlength => 4  %> men
</p>
<p>
	<%= f.label :women %><br />
  <%= f.text_field :women, :size => 4, :maxlength => 4  %> women
</p>
<p>
	<%= f.label :children %><br />
  <%= f.text_field :children, :size => 4, :maxlength => 4  %> children under 5 years
</p>
<p>
	<%= f.label :pregnant_women %>(7 months +)<br />
  <%= f.text_field :pregnant, :size => 4, :maxlength => 4  %>
</p>
<p>
	<%= f.label :people_on_chronic_medication %><br />
  <%= f.text_field :chronic_medication, :size => 4, :maxlength => 4  %> 
</p>
<p>Source of Information</p>
<p>
  <%= f.check_box :source_head_count %> Head count
</p>
<p>
  <%= f.check_box :source_somebody_told_me %> Somebody told me
</p>
<p>
  <%= f.check_box :source_day_time %> Day time count
</p>
<p>
	<%= f.label :comments %><br />
  <%= f.text_area :comments, :rows => 3 %>
</p>