<p>
	<%= f.label :quantity %><br />
  <%= f.text_field :quantity, :size => 4, :maxlength => 4  %> people in total
</p>
<p>
	<%= f.label :men %><br />
  <%= f.text_field :men, :size => 4, :maxlength => 4  %> men
</p>
<p>
	<%= f.label :women %><br />
  <%= f.text_field :women, :size => 4, :maxlength => 4  %> women
</p>
<p>
	<%= f.label :children %><br />
  <%= f.text_field :children, :size => 4, :maxlength => 4  %> children under 5 years
</p>
<p>
	<%= f.label :comments %><br />
  <%= f.text_area :comments, :rows => 3 %>
</p>