<h1>Listing Occupancy History for <%=h @location.name %></h1>

<table>
	<tr>
	<th>accurate as at</th>
	<th>created by</th>
	<th>assessor_name</th>
	<th>total</th>
	<th>men</th>
	<th>women</th>
	<th>under 5</th>
	<th>pregnant women</th>
	<th>people on chronic medication</th>
	<th>head count</th>
	<th>somebody told me</th>
	<th>day time</th>
	<th>comments</th>
</tr>

<% for occupancy in @occupancies %>
	<tr>
		<td><%=h time_ago_in_words(occupancy.created_at) %> ago (<%= occupancy.created_at %>)</td>
		<td><%=h occupancy.created_by.login if occupancy.created_by %></td>
		<td><%=h occupancy.assessor_name %></td>
		<td><strong style="color: red;"><%=h occupancy.quantity %></strong></td>
		<td><%=h occupancy.men %></td>
		<td><%=h occupancy.women %></td>
		<td><%=h occupancy.children %></td>
		<td><%=h occupancy.pregnant %></td>
		<td><%=h occupancy.chronic_medication %></td>
		<td><%=h occupancy.source_head_count %></td>
		<td><%=h occupancy.source_somebody_told_me %></td>
		<td><%=h occupancy.source_day_time %></td>
		<td><%=h occupancy.comments %></td>
	</tr>
<% end %>

</table>
<br />

<%= link_to 'Back', location_path(@location) %>