<h1><%= @location.name %></h1>
<div>Location: <%= @location.address %></div>
<div>Capacity: <%= @location.capacity %></div>
<div>Availability: <%= @location.availability %></div>
<div>Comments: <%= @location.comments %></div>
<div>Last Updated By: <%= @location.last_updated_user.login %></div>