<h1>New Daily Checklist for <%=h @location.name %></h1>
<p/>

<% form_for(@daily) do |f| %>
  <%= f.error_messages %>
	<%= hidden_field_tag :location_id, @location.id %>
	<%= render :partial => "form", :locals => { :f => f } %>

  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>

<%= link_to 'Back', location_path(@location) %>