<p>
  <b>Name:</b>
  <%=h @depot.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @depot.description %>
</p>

<a href="#" onclick="Element.toggle('contacts'); return false;">Show Contact Details</a>
<div id="contacts" style="display: none">
<p>
  <b>Address:</b>
  <%=h @depot.address %>
</p>

<p>
  <b>Driving Directions:</b>
  <%=h @depot.driving_directions %>
</p>

<p>
  <b>Main contact:</b>
  <%=h @depot.main_contact %>
</p>

<p>
  <b>Main phone number:</b>
  <%=h @depot.main_cell %>
</p>

<p>
  <b>Goods contact:</b>
  <%=h @depot.goods_contact %>
</p>

<p>
  <b>Goods phone number:</b>
  <%=h @depot.goods_cell %>
</p>

<p>
  <b>Goods Summary:</b>
  <%=h @depot.goods_summary %>
</p>

<p>
  <b>Volunteers contact:</b>
  <%=h @depot.volunteer_contact %>
</p>

<p>
  <b>Volunteers phone number:</b>
  <%=h @depot.volunteer_cell %>
</p>
</div>
<p/>
<p/>
<a href="#" onclick="Element.toggle('locations'); return false;">Show Locations</a>
<div id="locations" style="display: none">
<h2>Locations</h2>
<%= render :partial => "locations", :locals => { :depot => @depot } %>
</div>

<%= link_to 'Edit', edit_depot_path(@depot) %> |
<%= link_to 'Back', depots_path %>

<p/>

<h2>Supplies</h2>
(<%= link_to "Add supply", new_supply_path(:depot_id => @depot.id) %>)<br/>
<%= render :partial => "supplies", :locals => { :depot => @depot } %>


