<p>
	<%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
	<%= f.label :location_type_id %><br />
  <%= f.select :location_type_id, LocationType.find(:all).collect {|i| [ i.name, i.id ] } %>
</p>
<p>
	<%= f.label :depot_id %><br />
  <%= f.select :depot_id, Depot.find(:all).collect {|i| [ i.name, i.id ] } %>
</p>
<p>
	<%= f.label :comments %><br />
  <%= f.text_area :comments, :rows => 3 %>
</p>
<p>
	<%= f.label :capacity %><br />
  <%= f.text_field :capacity, :size => 4, :maxlength => 4 %> people
</p>
<a href="#" onclick="Element.toggle('contact'); return false;">Show Contact Details</a>
<div id="contact" style="display: none">
	<p>
		<%= f.label :contact %><br />
	  <%= f.text_field :contact %>&nbsp;&nbsp;<%= f.label :cell %><%= f.text_field :cell, :size => 15 %>
	</p>
	<p>
		<%= f.label :alt_contact %><br />
	  <%= f.text_field :alt_contact %>&nbsp;&nbsp;<%= f.label :alt_cell %><%= f.text_field :alt_cell, :size => 15 %>
	</p>
<p>
	<%= f.label :address %><br />
  <%= f.text_area :address, :rows => 4 %>
</p>
<p>
	<%= f.label :driving_directions %><br />
  <%= f.text_area :driving_directions, :rows => 4 %>
</p>
</div>
<p/>
<p/>
<a href="#" onclick="Element.toggle('volunteer'); return false;">Show Volunteer Contact and Status Details</a>
<div id="volunteer" style="display: none">
Note: the information in this section will be released to the public
<p>
	<%= f.label :volunteer_contact %><br />
  <%= f.text_field :volunteer_contact %>&nbsp;&nbsp;<%= f.label :volunteer_cell %><%= f.text_field :volunteer_cell, :size => 15 %>
</p>
<p>
	<%= f.label :volunteer_summary %><br />
  <%= f.text_area :volunteer_summary, :rows => 5 %>
</p>
<p>
	<%= f.label :provisions_contact %><br />
  <%= f.text_field :provisions_contact %>&nbsp;&nbsp;<%= f.label :provisions_cell %><%= f.text_field :provisions_cell, :size => 15 %>
</p>
<p>
	<%= f.label :provisions_summary %><br />
  <%= f.text_area :provisions_summary, :rows => 5 %>
</p>
</div>
<p/>
