<table>
<tr>
	<th><%= sort_link 'Location', :name %></th>
	<th><%= sort_link 'site_established_date', :site_established_date %></th>
	<th><%= sort_link 'assessor_name', :assessor_name %></th>
	<th><%= sort_link 'management_government_official_assigned', :management_government_official_assigned %></th>
	<th><%= sort_link 'management_volunteer_assigned', :management_volunteer_assigned %></th>
	<th><%= sort_link 'management_idp_representatives_assigned', :management_idp_representatives_assigned %></th>
	<th><%= sort_link 'management_site_meetings_initiated', :management_site_meetings_initiated %></th>
	<th><%= sort_link 'management_minutes_of_last_site_meeting', :management_minutes_of_last_site_meeting %></th>
	<th><%= sort_link 'management_men_and_women_represented', :management_men_and_women_represented %></th>
	<th><%= sort_link 'shelter_type', :shelter_type %></th>
	<th><%= sort_link 'shelter_type_detail', :shelter_type_detail %></th>
	<th><%= sort_link 'shelter_families_together', :shelter_families_together %></th>
	<th><%= sort_link 'shelter_area', :shelter_area %></th>
	<th><%= sort_link 'food_regular_provider', :food_regular_provider %></th>
	<th><%= sort_link 'food_meals_per_day', :food_meals_per_day %></th>
	<th><%= sort_link 'food_provider_hdi', :food_provider_hdi %></th>
	<th><%= sort_link 'food_provider_mustadafin', :food_provider_mustadafin %></th>
	<th><%= sort_link 'food_provider_sanzaf', :food_provider_sanzaf %></th>
	<th><%= sort_link 'food_provider_salvation_army', :food_provider_salvation_army %></th>
	<th><%= sort_link 'food_provider_red_cross', :food_provider_red_cross %></th>
	<th><%= sort_link 'food_provider_other', :food_provider_other %></th>
	<th><%= sort_link 'food_provider_other_detail', :food_provider_other_detail %></th>
	<th><%= sort_link 'food_milk_supplements_for_children', :food_milk_supplements_for_children %></th>
	<th><%= sort_link 'nonfood_disposable_nappies', :nonfood_disposable_nappies %></th>
	<th><%= sort_link 'nonfood_sanitary_towels', :nonfood_sanitary_towels %></th>
	<th><%= sort_link 'sanitation_flush', :sanitation_flush %></th>
	<th><%= sort_link 'sanitation_chemical', :sanitation_chemical %></th>
	<th><%= sort_link 'sanitation_other', :sanitation_other %></th>
	<th><%= sort_link 'sanitation_other_detail', :sanitation_other_detail %></th>
	<th><%= sort_link 'sanitation_total', :sanitation_total %></th>
	<th><%= sort_link 'sanitation_separate', :sanitation_separate %></th>
	<th><%= sort_link 'water_source', :water_source %></th>
	<th><%= sort_link 'water_source_detail', :water_source_detail %></th>
	<th><%= sort_link 'washing_showers', :washing_showers %></th>
	<th><%= sort_link 'washing_baths', :washing_baths %></th>
	<th><%= sort_link 'washing_basins', :washing_basins %></th>
	<th><%= sort_link 'health_hot_water', :health_hot_water %></th>
	<th><%= sort_link 'refuse_storage_type', :refuse_storage_type %></th>
	<th><%= sort_link 'refuse_removal_type', :refuse_removal_type %></th>
	<th><%= sort_link 'electric_lighting_sleeping', :electric_lighting_sleeping %></th>
	<th><%= sort_link 'electric_lighting_communal', :electric_lighting_communal %></th>
	<th><%= sort_link 'bedding_mattresses', :bedding_mattresses %></th>
	<th><%= sort_link 'bedding_blankets', :bedding_blankets %></th>
	<th><%= sort_link 'security', :security %></th>
	<th><%= sort_link 'health_immunisations', :health_immunisations %></th>
	<th><%= sort_link 'health_frequency', :health_frequency %></th>
	<th><%= sort_link 'health_nearest', :health_nearest %></th>
	<th><%= sort_link 'education_children_attending_school', :education_children_attending_school %></th>
	<th><%= sort_link 'education_children_recreational_activities', :education_children_recreational_activities %></th>
	<th><%= sort_link 'education_adults_reading_material', :education_adults_reading_material %></th>
	<th><%= sort_link 'legal_support_available', :legal_support_available %></th>
	<th><%= sort_link 'legal_regular_information', :legal_regular_information %></th>
	<th><%= sort_link 'legal_assistance', :legal_assistance %></th>
</tr>

<% for location in locations %>
	<tr>
		<td><%= link_to location.name, location_path(location) %></td>
		<td><%= location.site_established_date %></td>
		<td><%= location.assessor_name %></td>
		<td><%= location.management_government_official_assigned %></td>
		<td><%= location.management_volunteer_assigned %></td>
		<td><%= location.management_idp_representatives_assigned %></td>
		<td><%= location.management_site_meetings_initiated %></td>
		<td><%= location.management_minutes_of_last_site_meeting %></td>
		<td><%= location.management_men_and_women_represented %></td>
		<td><%= location.shelter_type %></td>
		<td><%= location.shelter_type_detail %></td>
		<td><%= location.shelter_families_together %></td>
		<td><%= location.shelter_area %></td>
		<td><%= location.food_regular_provider %></td>
		<td><%= location.food_meals_per_day %></td>
		<td><%= location.food_provider_hdi %></td>
		<td><%= location.food_provider_mustadafin %></td>
		<td><%= location.food_provider_sanzaf %></td>
		<td><%= location.food_provider_salvation_army %></td>
		<td><%= location.food_provider_red_cross %></td>
		<td><%= location.food_provider_other %></td>
		<td><%= location.food_provider_other_detail %></td>
		<td><%= location.food_milk_supplements_for_children %></td>
		<td><%= location.nonfood_disposable_nappies %></td>
		<td><%= location.nonfood_sanitary_towels %></td>
		<td><%= location.sanitation_flush %></td>
		<td><%= location.sanitation_chemical %></td>
		<td><%= location.sanitation_other %></td>
		<td><%= location.sanitation_other_detail %></td>
		<td><%= location.sanitation_total %></td>
		<td><%= location.sanitation_separate %></td>
		<td><%= location.water_source %></td>
		<td><%= location.water_source_detail %></td>
		<td><%= location.washing_showers %></td>
		<td><%= location.washing_baths %></td>
		<td><%= location.washing_basins %></td>
		<td><%= location.health_hot_water %></td>
		<td><%= location.refuse_storage_type %></td>
		<td><%= location.refuse_removal_type %></td>
		<td><%= location.electric_lighting_sleeping %></td>
		<td><%= location.electric_lighting_communal %></td>
		<td><%= location.bedding_mattresses %></td>
		<td><%= location.bedding_blankets %></td>
		<td><%= location.security %></td>
		<td><%= location.health_immunisations %></td>
		<td><%= location.health_frequency %></td>
		<td><%= location.health_nearest %></td>
		<td><%= location.education_children_attending_school %></td>
		<td><%= location.education_children_recreational_activities %></td>
		<td><%= location.education_adults_reading_material %></td>
		<td><%= location.legal_support_available %></td>
		<td><%= location.legal_regular_information %></td>
		<td><%= location.legal_assistance %></td>
	</tr>
<% end %>
</table>
