<table>
<tr>
	<th><%= sort_link 'Location', :name %></th>
	<th>Immunisations</th>
	<th>Hot Water</th>
	<th>New Diarrhoea Cases</th>
	<th>New Rashes</th>
	<th>Pregnant Women</th>
	<th>Persistent Coughs</th>
	<th>Children With Fever</th>
	<th>Existing Appointments</th>
	<th>Need Formula Milk</th>
</tr>

<% for location in locations %>
	<tr>
		<td><%= link_to location.name, location_path(location) %></td>
		<td><input type="checkbox" name="my_readonly_box" disabled="true" <%= if location.health_immunisations then 'checked' end %> ></td>
		<td><input type="checkbox" name="my_readonly_box" disabled="true" <%= if location.health_hot_water then 'checked' end %> ></td>
<% if location.dailies.current %>
		<td><%=h location.dailies.current.diarrhoea %></td>
		<td><%=h location.dailies.current.rashes %></td>
		<td><%=h location.dailies.current.pregnant_women %></td>
		<td><%=h location.dailies.current.coughs %></td>
		<td><%=h location.dailies.current.fevers %></td>
		<td><input type="checkbox" name="my_readonly_box" disabled="true" <%= if location.dailies.current.appointments then 'checked' end %> ></td>
		<td><input type="checkbox" name="my_readonly_box" disabled="true" <%= if location.dailies.current.formula_milk then 'checked' end %> ></td>
		<% end %>
	</tr>
<% end %>
</table>
