<table>

<% for location in locations %>
	<tr>
		<td class="<%= 'no' if location.availability <= 0 %>space"><%= location.occupancy %>/<%= location.capacity %></td>
		<td>(<%= link_to "Change", new_occupancy_path(:location_id => location.id) %>) :</td>
		<td><%= link_to location.name, location_path(location) %></td>
		<td><%=h location.location_type.name if location.location_type %></td>		
		<td>[<%=h location.user.name + " : " + location.user.cell if location.user %> ( <%=h location.user.depot.name if location.user && location.user.depot %> )]</td>		
		<td><%=h location.contact %> (<%=h location.cell %>)</td>		
		<td><%= location.address %></td>
	</tr>
<% end %>
</table>
