<table>
<tr>
	<th><%= sort_link 'Location', :name %></th>
	<th>Total</th>
	<th>Men</th>
	<th>Women</th>
	<th>Under 5 years</th>
	<th>Pregnant Women over 7 months</th>
	<th>People on chronic medication</th>
	<th>Last Updated</th>
</tr>

<% for location in locations %>
	<tr>
		<td><%= link_to location.name, location_path(location) %></td>
		<td><%= location.occupancy %></td>
		<td><%= location.men %></td>
		<td><%= location.women %></td>
		<td><%= location.children %></td>
		<td><%= location.pregnant %></td>
		<td><%= location.chronic_medication %></td>
		<td><%= if location.occupancies.any? then time_ago_in_words(location.occupancies.current.created_at) + ' ago (' + location.occupancies.current.created_by.login + ')' end %></td>
	</tr>
<% end %>
</table>
