<table>
<tr>
	<th><%= sort_link 'Location', :name %></th>
  <th>assessor_name</th>
  <th>quantity</th>
  <th>male</th>
  <th>female</th>
  <th>working</th>
  <th>pregnant</th>
  <th>children</th>
  <th>school going age</th>
  <th>chronic_medication</th>
  <th>source_head_count</th>
  <th>source_somebody_told_me</th>
  <th>source_day_time</th>
  <th>created_ago</th>
  <th>created_at</th>
  <th>created_by</th>
  <th>comments</th>
</tr>

<% for location in locations %>
	<tr>
		<td><%= link_to location.name, location_path(location) %></td>
		<td><%= if location.occupancies.any? then location.occupancies.current.assessor_name end %></td>
		<td><%= location.occupancy %></td>
		<td><%= location.men %></td>
		<td><%= location.women %></td>
		<td><%= location.working %></td>
		<td><%= location.pregnant %></td>
		<td><%= location.children %></td>
		<td><%= location.school %></td>
		<td><%= location.chronic_medication %></td>
		<td><%= if location.occupancies.any? then location.occupancies.current.source_head_count end %></td>
		<td><%= if location.occupancies.any? then location.occupancies.current.source_somebody_told_me end %></td>
		<td><%= if location.occupancies.any? then location.occupancies.current.source_day_time end %></td>
		<td><%= if location.occupancies.any? then time_ago_in_words(location.occupancies.current.created_at) + ' ago' end %></td>
		<td><%= if location.occupancies.any? then location.occupancies.current.created_at end %></td>
		<td><%= if location.occupancies.any? then location.occupancies.current.created_by.login end %></td>
		<td><%= if location.occupancies.any? then location.occupancies.current.comments end %></td>
	</tr>
<% end %>
</table>
