<h1>Listing locations</h1>

Total occupancy / capacity : <%= @total_occupancy %> / <%= @total_capacity %>

<h2>Local Locations</h2>
<p/>
<%= render :partial => "list", :locals => { :locations => @local_locations } %>
<p/>

<h2>Other Locations</h2>
<p/>
<%= render :partial => "list", :locals => { :locations => @other_locations } %>



<br />

<%= link_to 'Create location', new_location_path %>