<h1>Latest daily checklist for locations</h1>

<table>
<tr>
	<th><%= sort_link 'Location', :name %></th>
	<th>assessment_date</th>
	<th>assessor_name</th>
	<th>management_meetings_held</th>
	<th>food_as_scheduled</th>
	<th>food_sufficient</th>
	<th>food_milk_supplements_under_6_months</th>
	<th>food_milk_supplements_under_5_years</th>
	<th>food_additional_for_children</th>
  <th>food_comments</th>
	<th>sanitation_toilets_broken_flush</th>
	<th>sanitation_toilets_broken_chemical</th>
	<th>sanitation_toilets_broken_other</th>
	<th>sanitation_toilets_cleaned</th>
	<th>sanitation_undrained_water</th>
	<th>water_adequate_drinking_water</th>
	<th>washing_showers_broken</th>
	<th>washing_baths_broken</th>
	<th>washing_basins_broken</th>
	<th>washing_showers_without_soap</th>
	<th>washing_hot_water</th>
	<th>refuse_collected</th>
	<th>refuse_storage_adequate</th>
	<th>electricity_broken_lights</th>
	<th>bedding_without_mattresses</th>
	<th>bedding_without_blankets</th>
	<th>security_present</th>
	<th>security_adequate</th>
	<th>security_incidents</th>
	<th>health_diarrhoea</th>
	<th>health_rashes</th>
	<th>health_pregnant_women</th>
	<th>health_coughs</th>
	<th>health_fevers</th>
	<th>health_appointments</th>
	<th>health_admissions</th>
	<th>health_difficulties</th>
	<th>education_school_difficulties</th>
	<th>education_activities</th>
	<th>communication_update</th>
	<th>legal_reintegration_assistance</th>
	<th>legal_repatriation_assistance</th>
	<th>comments</th>
	<th>created_by</th>
</tr>

<% for location in @locations %>
	<tr>
		<td><%= link_to location.name, location_path(location) %></td>
		<% if location.dailies.current %>
  	<td><%= location.dailies.current.assessment_date %></td>
  	<td><%= location.dailies.current.assessor_name %></td>
		<td><%= location.dailies.current.management_meetings_held %></td>
		<td><%= location.dailies.current.food_as_scheduled %></td>
		<td><%= location.dailies.current.food_sufficient %></td>
		<td><%= location.dailies.current.food_milk_supplements_under_6_months %></td>
		<td><%= location.dailies.current.food_milk_supplements_under_5_years %></td>
		<td><%= location.dailies.current.food_additional_for_children %></td>
	  <td><%= location.dailies.current.food_comments %></td>
		<td><%= location.dailies.current.sanitation_toilets_broken_flush %></td>
		<td><%= location.dailies.current.sanitation_toilets_broken_chemical %></td>
		<td><%= location.dailies.current.sanitation_toilets_broken_other %></td>
		<td><%= location.dailies.current.sanitation_toilets_cleaned %></td>
		<td><%= location.dailies.current.sanitation_undrained_water %></td>
		<td><%= location.dailies.current.water_adequate_drinking_water %></td>
		<td><%= location.dailies.current.washing_showers_broken %></td>
		<td><%= location.dailies.current.washing_baths_broken %></td>
		<td><%= location.dailies.current.washing_basins_broken %></td>
		<td><%= location.dailies.current.washing_showers_without_soap %></td>
		<td><%= location.dailies.current.washing_hot_water %></td>
		<td><%= location.dailies.current.refuse_collected %></td>
		<td><%= location.dailies.current.refuse_storage_adequate %></td>
		<td><%= location.dailies.current.electricity_broken_lights %></td>
		<td><%= location.dailies.current.bedding_without_mattresses %></td>
		<td><%= location.dailies.current.bedding_without_blankets %></td>
		<td><%= location.dailies.current.security_present %></td>
		<td><%= location.dailies.current.security_adequate %></td>
		<td><%= location.dailies.current.security_incidents %></td>
		<td><%= location.dailies.current.health_diarrhoea %></td>
		<td><%= location.dailies.current.health_rashes %></td>
		<td><%= location.dailies.current.health_pregnant_women %></td>
		<td><%= location.dailies.current.health_coughs %></td>
		<td><%= location.dailies.current.health_fevers %></td>
		<td><%= location.dailies.current.health_appointments %></td>
		<td><%= location.dailies.current.health_admissions %></td>
		<td><%= location.dailies.current.health_difficulties %></td>
		<td><%= location.dailies.current.education_school_difficulties %></td>
		<td><%= location.dailies.current.education_activities %></td>
		<td><%= location.dailies.current.communication_update %></td>
		<td><%= location.dailies.current.legal_reintegration_assistance %></td>
		<td><%= location.dailies.current.legal_repatriation_assistance %></td>
		<td><%= location.dailies.current.comments %></td>
		<td><%= location.dailies.current.created_by.login %></td>
		<% end %>
	</tr>
<% end %>
</table>
