<h1>Latest daily assessments for locations</h1>

<table>
<tr>
	<th><%= sort_link 'Location', :name %></th>
  <th>assessment_date</th>
	<th>assessor_name</th>
  <th>management_government_official_assigned</th>
  <th>management_volunteer_assigned</th>
  <th>management_idp_representatives_assigned</th>
  <th>management_site_meetings_initiated</th>
  <th>management_minutes_of_last_site_meeting</th>
  <th>management_men_and_women_represented</th>
  <th>shelter_adequate</th>
  <th>shelter_number_of_tents</th>
  <th>shelter_size_of_tents</th>
  <th>shelter_people_per_tent</th>
  <th>shelter_family_tents</th>
  <th>shelter_tents_leak</th>
  <th>departures_total</th>
  <th>departures_original_community</th>
  <th>departures_another_community</th> 
  <th>departures_another_idp_site</th>
  <th>departures_repatriation</th>
  <th>departures_other</th>
  <th>departures_other_detail</th>
  <th>departures_unknown</th>
  <th>arrivals_total</th>
  <th>arrivals_original_community</th>
  <th>arrivals_another_community</th>
  <th>arrivals_another_idp_site</th>
  <th>arrivals_other</th>
  <th>arrivals_other_detail</th>
  <th>arrivals_unknown</th>
	<th>head count</th>
	<th>somebody told me</th>
	<th>day time</th>
  <th>food_regular_provider</th>
  <th>food_meals_per_day</th>
  <th>food_sufficient</th>
  <th>food_provider_hdi</th>
  <th>food_provider_mustadafin</th>
  <th>food_provider_sanzaf</th>
  <th>food_provider_salvation_army</th>
  <th>food_provider_red_cross</th>
  <th>food_provider_other</th>
  <th>food_provider_other_detail</th>
  <th>food_milk_supplements_for_children</th>
  <th>food_milk_supplements_frequency</th>
  <th>food_milk_supplements_method</th>
  <th>non_food_soap</th>
  <th>non_food_nappies</th>
  <th>non_food_nappies_per_child</th>
  <th>non_food_sanitary_towels</th>
  <th>non_food_sanitary_towels_per_female</th>
  <th>non_food_other_detail</th>
  <th>non_food_other</th>
  <th>non_food_other_per_person</th>
  <th>toilets_flush</th>
  <th>toilets_chemical</th>
  <th>toilets_other_detail</th>
  <th>toilets_other</th>
  <th>toilets_total</th>
  <th>toilets_separate</th>
  <th>toilets_clean</th>
  <th>washing_showers</th>
  <th>washing_baths</th>
  <th>washing_basins</th>
  <th>washing_separate</th>
  <th>lighting_sleeping</th>
  <th>lighting_communal</th>
  <th>lighting_female_toilets</th>
  <th>lighting_female_bathing</th>
  <th>bedding_mattresses</th>
  <th>bedding_blankets</th>
  <th>security</th>
  <th>health_distance_to_nearest</th>
  <th>health_refused_care</th>
  <th>health_refused_care_clinic</th>
  <th>health_refused_care_date_time</th>
  <th>health_transport_to</th>
  <th>health_transport_from</th>
  <th>health_first_aid_kit</th>
  <th>health_diarrhoea</th>
  <th>health_fever</th>
  <th>health_rash</th>
  <th>health_cough</th>
  <th>health_health_worker</th>
  <th>health_health_worker_hours</th>
  <th>health_health_worker_days</th>
  <th>children_attending_school</th>
  <th>children_activities</th>
  <th>adults_reading_material</th>
  <th>legal_advice</th>
  <th>legal_information</th>
  <th>legal_assistance</th>
  <th>comments</th>
	<th>created_by</th>
</tr>

<% for location in @locations %>
	<tr>
		<td><%= link_to location.name, location_path(location) %></td>
		<% if location.assessments.current %>
	  	<td><%= location.assessments.current.assessment_date %></td>
	  	<td><%= location.assessments.current.assessor_name %></td>
	    <td><%= location.assessments.current.management_government_official_assigned %></td>
	    <td><%= location.assessments.current.management_volunteer_assigned %></td>
	    <td><%= location.assessments.current.management_idp_representatives_assigned %></td>
	    <td><%= location.assessments.current.management_site_meetings_initiated %></td>
	    <td><%= location.assessments.current.management_minutes_of_last_site_meeting %></td>
	    <td><%= location.assessments.current.management_men_and_women_represented %></td>
	    <td><%= location.assessments.current.shelter_adequate %></td>
	    <td><%= location.assessments.current.shelter_number_of_tents %></td>
	    <td><%= location.assessments.current.shelter_size_of_tents %></td>
	    <td><%= location.assessments.current.shelter_people_per_tent %></td>
	    <td><%= location.assessments.current.shelter_family_tents %></td>
	    <td><%= location.assessments.current.shelter_tents_leak %></td>
		  <td><%= location.assessments.current.departures_total %></td>
		  <td><%= location.assessments.current.departures_original_community %></td>
		  <td><%= location.assessments.current.departures_another_community %></td> 
		  <td><%= location.assessments.current.departures_another_idp_site %></td>
		  <td><%= location.assessments.current.departures_repatriation %></td>
		  <td><%= location.assessments.current.departures_other %></td>
		  <td><%= location.assessments.current.departures_other_detail %></td>
		  <td><%= location.assessments.current.departures_unknown %></td>
		  <td><%= location.assessments.current.arrivals_total %></td>
		  <td><%= location.assessments.current.arrivals_original_community %></td>
		  <td><%= location.assessments.current.arrivals_another_community %></td>
		  <td><%= location.assessments.current.arrivals_another_idp_site %></td>
		  <td><%= location.assessments.current.arrivals_other %></td>
		  <td><%= location.assessments.current.arrivals_other_detail %></td>
		  <td><%= location.assessments.current.arrivals_unknown %></td>
			<td><%= location.assessments.current.source_head_count %></td>
			<td><%= location.assessments.current.source_somebody_told_me %></td>
			<td><%= location.assessments.current.source_day_time %></td>
	    <td><%= location.assessments.current.food_regular_provider %></td>
	    <td><%= location.assessments.current.food_meals_per_day %></td>
	    <td><%= location.assessments.current.food_sufficient %></td>
	    <td><%= location.assessments.current.food_provider_hdi %></td>
	    <td><%= location.assessments.current.food_provider_mustadafin %></td>
	    <td><%= location.assessments.current.food_provider_sanzaf %></td>
	    <td><%= location.assessments.current.food_provider_salvation_army %></td>
	    <td><%= location.assessments.current.food_provider_red_cross %></td>
	    <td><%= location.assessments.current.food_provider_other %></td>
	    <td><%= location.assessments.current.food_provider_other_detail %></td>
	    <td><%= location.assessments.current.food_milk_supplements_for_children %></td>
	    <td><%= location.assessments.current.food_milk_supplements_frequency %></td>
	    <td><%= location.assessments.current.food_milk_supplements_method %></td>
	    <td><%= location.assessments.current.non_food_soap %></td>
	    <td><%= location.assessments.current.non_food_nappies %></td>
	    <td><%= location.assessments.current.non_food_nappies_per_child %></td>
	    <td><%= location.assessments.current.non_food_sanitary_towels %></td>
	    <td><%= location.assessments.current.non_food_sanitary_towels_per_female %></td>
	    <td><%= location.assessments.current.non_food_other_detail %></td>
	    <td><%= location.assessments.current.non_food_other %></td>
	    <td><%= location.assessments.current.non_food_other_per_person %></td>
	    <td><%= location.assessments.current.toilets_flush %></td>
	    <td><%= location.assessments.current.toilets_chemical %></td>
	    <td><%= location.assessments.current.toilets_other_detail %></td>
	    <td><%= location.assessments.current.toilets_other %></td>
	    <td><%= location.assessments.current.toilets_total %></td>
	    <td><%= location.assessments.current.toilets_separate %></td>
	    <td><%= location.assessments.current.toilets_clean %></td>
	    <td><%= location.assessments.current.washing_showers %></td>
	    <td><%= location.assessments.current.washing_baths %></td>
	    <td><%= location.assessments.current.washing_basins %></td>
	    <td><%= location.assessments.current.washing_separate %></td>
	    <td><%= location.assessments.current.lighting_sleeping %></td>
	    <td><%= location.assessments.current.lighting_communal %></td>
	    <td><%= location.assessments.current.lighting_female_toilets %></td>
	    <td><%= location.assessments.current.lighting_female_bathing %></td>
	    <td><%= location.assessments.current.bedding_mattresses %></td>
	    <td><%= location.assessments.current.bedding_blankets %></td>
	    <td><%= location.assessments.current.security %></td>
	    <td><%= location.assessments.current.health_distance_to_nearest %></td>
	    <td><%= location.assessments.current.health_refused_care %></td>
	    <td><%= location.assessments.current.health_refused_care_clinic %></td>
	    <td><%= location.assessments.current.health_refused_care_date_time %></td>
	    <td><%= location.assessments.current.health_transport_to %></td>
	    <td><%= location.assessments.current.health_transport_from %></td>
	    <td><%= location.assessments.current.health_first_aid_kit %></td>
	    <td><%= location.assessments.current.health_diarrhoea %></td>
	    <td><%= location.assessments.current.health_fever %></td>
	    <td><%= location.assessments.current.health_rash %></td>
	    <td><%= location.assessments.current.health_cough %></td>
	    <td><%= location.assessments.current.health_health_worker %></td>
	    <td><%= location.assessments.current.health_health_worker_hours %></td>
	    <td><%= location.assessments.current.health_health_worker_days %></td>
	    <td><%= location.assessments.current.children_attending_school %></td>
	    <td><%= location.assessments.current.children_activities %></td>
	    <td><%= location.assessments.current.adults_reading_material %></td>
	    <td><%= location.assessments.current.legal_advice %></td>
	    <td><%= location.assessments.current.legal_information %></td>
	    <td><%= location.assessments.current.legal_assistance %></td>
	    <td><%= location.assessments.current.comments %></td>
			<td><%= location.assessments.current.created_by.login %></td>
		<% end %>
	</tr>
<% end %>
</table>
