<h1>Listing occupancies for locations</h1>

Total occupancy : <%= @total_occupancy %> <br/>
Total men : <%= @total_men %> <br/>
Total women : <%= @total_women %> <br/>
Total children under 5 years : <%= @total_children %> <br/>
Total pregnant women (7 months +) : <%= @total_pregnant %> <br/>
Total people on chronic medication : <%= @total_chronic_medication %> <br/>

<p/>
<%= render :partial => "occupancies", :locals => { :locations => @locations } %>
