<h1>Listing occupancies for locations</h1>

Total occupancy : <%= @total_occupancy %> <br/>
Total male : <%= @total_men %> <br/>
Total female : <%= @total_women %> <br/>
Total working : <%= @total_working %> <br/>
Total pregnant women (7 months +) : <%= @total_pregnant %> <br/>
Total children under 5 years : <%= @total_children %> <br/>
Total children school going age : <%= @total_school %> <br/>
Total people on chronic medication : <%= @total_chronic_medication %> <br/>

<p/>
<%= render :partial => "occupancies", :locals => { :locations => @locations } %>
