<p>
  <b>Name:</b>
  <%=h @location.name %>
</p>

<p>
  <b>Type:</b>
  <%=h @location.location_type.name if @location.location_type %>
</p>

<p>
  <b>Depot:</b>
  <%= link_to(@location.depot.name, @location.depot) if @location.depot %>
</p>

<p>
  <b>Address:</b>
  <%= simple_format(sanitize(@location.address)) %>
</p>

<p>
  <b>Driving Directions:</b>
  <%= simple_format(sanitize(@location.driving_directions)) %>
</p>

<p>
  <b>Contact:</b>
  <%=h @location.contact %> (<%= @location.cell %>)
</p>

<p>
  <b>Alternative Contact:</b>
  <%=h @location.alt_contact %> (<%= @location.alt_cell %>)
</p>

<p>
  <b>Volunteer Contact:</b>
  <%=h @location.volunteer_contact %> (<%= @location.volunteer_cell %>)
</p>

<p>
  <b>Provisions Contact:</b>
  <%=h @location.provisions_contact %> (<%= @location.provisions_cell %>)
</p>

<p>
  <b>Comments:</b>
  <%= simple_format(sanitize(@location.comments)) %>
</p>

<p>
  <b>Capacity:</b>
  <%=h @location.capacity %> people
</p>

<p>
  <b>Occupancy:</b>
  <%=h @location.occupancy %> (<%= link_to "Change", new_occupancy_path(:location_id => @location.id) %> | <%= link_to "History", occupancies_path(:location_id => @location.id) %>) 

<% if @location.occupancies.current -%><span class="audit">Occupancy last updated: <%= time_ago_in_words(@location.occupancies.current.created_at) %> ago by <%=h @location.occupancies.current.created_by.login %>(<%=h @location.occupancies.current.created_by.cell %>)</span> <% end -%>
	
</p>

<p>
  <b>Volunteer Summary:</b>
  <%= simple_format(sanitize(@location.volunteer_summary)) %>
</p>

<p>
  <b>Provisions Summary:</b>
  <%= simple_format(sanitize(@location.provisions_summary)) %>
</p>

<%= render :partial => "widgets/audit", :locals => { :obj => @location } %>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>

<h2>Requests</h2>
(<%= link_to "Add request", new_request_path(:location_id => @location.id) %>)<br/>
<%= render :partial => "requests", :locals => { :location => @location } %>
